*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #b4d2ff31;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  color: rgba(0, 0, 0, 0.702);
}

.note{
  background-color: #0a0a0a17;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}
.create-form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: fit-content;
  align-items: center;
}
.create-form input, .create-form textarea{
  padding: 0.5rem;
  background-color: #0000002d;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}
.create-form button{
  padding: 0.5rem 1rem;
  background-color: #e0b4ff38;
  color: rgb(31, 30, 30);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.create-form button:hover{
  background-color: #a8ffac11;
}
.create-form button:active{
  transform: scale(0.98);
}

.note button{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(240, 207, 163, 0.518);
  border-radius: 4px;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  cursor: pointer;
}
.note button:hover{
  color: rgba(0, 0, 0, 0.8);}

.note button:active{
  transform: scale(0.95);
}