*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgba(240, 248, 255, 0.634);
}

.notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.note{
  background-color: rgba(255, 206, 234, 0.133);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 20rem;
  margin: 1rem;
}